<h1>Admin Dashboard</h1>
<section class="admin-products-index">
  <h3>
    Counts
  </h3>

  <div class="well">
    <%= "Number of products: #{@product_count}" %>
  </div>

  <div class="well">
    <%= "Number of product categories: #{@category_count}" %>
  </div>


</section>
